<%= erb :header %>

<h1>Create a new item</h1>

<form method="POST" action="/items">
    <input name="name" placeholder="item name">
    <input name="price" type="number" placeholder="price">
    <input type="submit">
</form>