<div>
    <a href="/items">Items</a>
    <a href="/categories">Categories</a>
</div>

<h1>Create a new item</h1>

<form method="POST" action="/categories">
    <input name="name" placeholder="category name">
    <input type="submit">
</form>