<table>
    <thead>
        <th>Category name</th>
    </thead>
    <tbody>
        <% categories.each do |category| %>
            <tr>
                <td>
                    <a href="/items?category=<%= category.name %>"> 
                        <%= "#{category.name}" %>
                    </a>
                </td>
            <tr>
        <% end %>
    </tbody>
</table>

<a href="/categories/create">New category</a>